[Unit]
Description=weatherwalls

[Service]
ExecStart=/usr/bin/perl /usr/local/bin/weatherwalls/main.pl
Restart=always

[Install]
WantedBy=multi-user.target
